html {
  scroll-padding-top: 70px; /* height of sticky header */
}

body {
  background-color:#7d4d97;
  color: #6BF57E;
  font-family: 'Varela Round', sans-serif;
    margin: 0px;
  opacity:0.9;
}
header {
  padding-top:40px;
  padding-bottom:10px;
  z-index:2;
  
   }
img {
 position:absolute;
  vertical-align:top;
  bottom:80px;
  left:800px;   
   width:500px;
     heigth:300px;
  border-color: #4deb87;
    border-width: 5px;
    border-style: solid;
  border-radius:50%;
   transform: scale(1);
     z-index:1;
}
i {
  font-size:40px;
  color:#4deb87;
  padding-left:40px;
}
h1 {
  font-size:80px;
  color: #4deb87;
  padding-left:40px;
  padding-top:40px;
}

.tagline {
    font-size:50px;
    width:60%;
  color: #4deb87;
  padding-left:40px;
}
#linkedin {
  color: #a3ff3b;
  padding-left:40px;
  font-size:20px;
  
}

#about-me {
  padding-left:40px;
  padding-top:150px;
   
}
.container {
    font-size: 20px;
    color:#44f57e;
  text-align: left;
  padding-left: 40px;
  background-color: ;
   }
.container-2{
    font-size: 20px;
    color: #44f57e;
  text-align: left;
  padding-left: 40px;
}
.container-3 {
    font-size: 20px;
    color: #44f57e;
  text-align: left;
  padding-left: 40px;
}
.container-4 {
    font-size: 20px;
    color: #44f57e;
  text-align: left;
  padding-left: 40px;
}
#edu {
background-color: #;
  padding-left:40px;
}
#ideas {
background-color: #;
  padding-left:40px;
}
#contacts {
background-color: #;
  padding-left:40px;
}
#here {
 color: #9ffc55;
  font-size: 20px;
  font-weight: bold;
    text-decoration: none;
}
#here:hover {
  background-color: #7d4d97;
  color: #44f57e;
}
h2 {
  font-size:50px;
 }
  #links {
 color:#7d4d97;
  font-size: 20px;
   padding-left:40px;
    font-weight: bold;
    text-decoration: none;
    
}

.topnav {
  background-color: #44f57e;
  position: fixed;
  top:0%;
  width:100%;
  overflow: hidden;
  padding:0px;
  z-index:2;
  
  
}
ul {
  float:right;
	margin-right:20px;  
}
li {
  float:left; 
}
.topnav #links:hover {
  background-color: #7D4D97;
  color: #44f57e;
}
p {
  font-size: 20px;
  padding-top:-150%;
}
#name-box {
  padding-top:20px;
  
  }
input {
  border-radius:24px;
  border: 3px solid #44f57e;
  width: 200px;
  height:20px;
 
}
#message-box {
  padding-top:20px;
 
   }
 textarea {
   width:300px;
   height: 100px;
   border-radius: 24px;
    border: 3px solid #44f57e;
  }

#button {
padding-top:20px;
  }
button {
  background-color: #44f57e;
  color: #7D4D97;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
	box-shadow: 0 5px 35px 0 rgba(51, 51, 51, 0.26);
  width: auto;
}
button:hover {
   background-color:#7D4D97;
    color: #44f57e;
  }
#footer {
  padding-left: 10px;
  padding-top: 60px;
  text-color: #44f57e;
}
#github {
  color: #44f57e;
  
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 
  img {
  display:none;

}
	 #links {
 
  font-size: 20px;
   padding-left:0px;
    font-weight: bold;
    text-decoration: none;
    
}
	.container {
		padding-left:6px;
		padding-right:6px;	
		}
	.container-1 {
		padding-left:6px;
		padding-right:6px;
		}
	.container-2 {
		padding-left:6px;
		padding-right:6px;
		}
	.container-3 {
		padding-left:6px;
		padding-right:6px;
		}
	.container-4 {
		padding-left:6px;
		padding-right:6px;
		}
	#about-me {
		padding-left:6px;
	}
	#edu{
		padding-left:6px;
	}
	#ideas{
	padding-left:6px;
	}
	#contacts{
	padding-left:6px;
	}
h1 {
padding-left:7px;
	}
	
    
